In [15]:
import pandas as pd

In [16]:
# path ke raw data
bi_rate_path = "../data/raw/BI-7Day-RR.xlsx"
inflation_path = "../data/raw/Data Inflasi.xlsx"

# load excel
df_bi = pd.read_excel(bi_rate_path, header=4)
df_inflation = pd.read_excel(inflation_path, header=4)

In [17]:
df_bi

      NO            Tanggal BI-7Day-RR  Unnamed: 3
0      1   17 Desember 2025     4.75 %         NaN
1      2   19 November 2025     4.75 %         NaN
2      3    22 Oktober 2025     4.75 %         NaN
3      4  17 September 2025     4.75 %         NaN
4      5    20 Agustus 2025     5.00 %         NaN
..   ...                ...        ...         ...
113  114    19 Agustus 2016     5.25 %         NaN
114  115       21 Juli 2016     5.25 %         NaN
115  116       16 Juni 2016     5.25 %         NaN
116  117        19 Mei 2016     5.50 %         NaN
117  118      21 April 2016     5.50 %         NaN

[118 rows x 4 columns]

In [18]:
df_bi = df_bi.drop(columns=[col for col in df_bi.columns if "Unnamed" in col])
df_bi = df_bi.drop(columns=["NO"])

In [19]:
df_bi.info()

<class 'pandas.DataFrame'>
RangeIndex: 118 entries, 0 to 117
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tanggal     118 non-null    str
 1   BI-7Day-RR  118 non-null    str
dtypes: str(2)
memory usage: 2.0 KB

In [20]:
df_inflation

      No         Periode Data Inflasi  Unnamed: 3
0      1   Desember 2025       2.92 %         NaN
1      2   November 2025       2.72 %         NaN
2      3    Oktober 2025       2.86 %         NaN
3      4  September 2025       2.65 %         NaN
4      5    Agustus 2025       2.31 %         NaN
..   ...             ...          ...         ...
115  116        Mei 2016       3.33 %         NaN
116  117      April 2016        3.6 %         NaN
117  118      Maret 2016       4.45 %         NaN
118  119   Februari 2016       4.42 %         NaN
119  120    Januari 2016       4.14 %         NaN

[120 rows x 4 columns]

In [21]:
df_inflation = df_inflation.drop(columns=[col for col in df_inflation.columns if "Unnamed" in col])
df_inflation = df_inflation.drop(columns=["No"])

In [22]:
df_inflation.info()

<class 'pandas.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Periode       120 non-null    str
 1   Data Inflasi  120 non-null    str
dtypes: str(2)
memory usage: 2.0 KB

In [23]:
print("BI Rate:")
print("Start:", df_bi['Tanggal'].iloc[-1])
print("End  :", df_bi['Tanggal'].iloc[0])

print("\nInflation:")
print("Start:", df_inflation['Periode'].iloc[-1])
print("End  :", df_inflation['Periode'].iloc[0])

BI Rate:
Start: 21 April 2016
End  : 17 Desember 2025

Inflation:
Start: Januari 2016
End  : Desember 2025

### Data Availability Note

- BI-7Day Reverse Repo Rate is available starting from April 2016.
- Inflation data is available from January 2016.
- For consistency, the final analytical dataset will cover April 2016 – December 2025.