In [1]:
import pandas as pd
import sys
import os

# add project root to python path
sys.path.append(os.path.abspath(".."))

from src.preprocessing import (
    preprocess_bi_rate,
    preprocess_inflation,
    merge_macro_data
)

In [2]:
df_bi_raw = pd.read_excel("../data/raw/BI-7Day-RR.xlsx", header=4)
df_bi_raw = df_bi_raw.drop(columns=[c for c in df_bi_raw.columns if "Unnamed" in c])

df_inf_raw = pd.read_excel("../data/raw/Data Inflasi.xlsx", header=4)
df_inf_raw = df_inf_raw.drop(columns=[c for c in df_inf_raw.columns if "Unnamed" in c])

In [3]:
df_bi_clean = preprocess_bi_rate(df_bi_raw)
df_inf_clean = preprocess_inflation(df_inf_raw)

d:\Personal Files\Portofolio Projects\impact-bi-rate-inflation\src\preprocessing.py:135: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["date"] = pd.to_datetime(df["period"], errors="raise")

In [4]:
df_macro = merge_macro_data(df_bi_clean, df_inf_clean)

In [5]:
df_macro

     year  month  bi_rate  inflation   period
0    2016      4     5.50       3.60  2016-04
1    2016      5     5.50       3.33  2016-05
2    2016      6     5.25       3.45  2016-06
3    2016      7     5.25       3.21  2016-07
4    2016      8     5.25       2.79  2016-08
..    ...    ...      ...        ...      ...
113  2025      8     5.00       2.31  2025-08
114  2025      9     4.75       2.65  2025-09
115  2025     10     4.75       2.86  2025-10
116  2025     11     4.75       2.72  2025-11
117  2025     12     4.75       2.92  2025-12

[118 rows x 5 columns]

In [6]:
df_macro.info()

<class 'pandas.DataFrame'>
RangeIndex: 118 entries, 0 to 117
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   year       118 non-null    int32
 1   month      118 non-null    int32
 2   bi_rate    118 non-null    float64
 3   inflation  118 non-null    float64
 4   period     118 non-null    str
dtypes: float64(2), int32(2), str(1)
memory usage: 3.8 KB

In [7]:
df_macro.to_csv(
    "../data/processed/macro_monthly_clean.csv",
    index=False
)